#loginModal h3, #loginModal p {
    text-align:center;
}

#loginModal p {
    color:#a29e9e;
    font-size:12px;
}

.mobilemenuitem:hover  {
    cursor: pointer;
}

ul.socialLogin {
    list-style-type: none;
    overflow:hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    display: table;
    text-align: center
}

ul.socialLogin li {
    float:left;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
}

ul.socialLogin li a:not(.disabled):hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#loginModal .form-group  {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#loginModal .form-group label {
    font-weight:500;
}

.btn-login
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.anonymousIner .glyphicon {
    color:red;
}

.informationIner {
    min-height: 202px;
}

.loginError  {
    width: 80%;
    margin-left: auto;
    margin-right: auto
}

h3.title {
    margin-bottom:25px;
}

/* Extra Small Devices, Phones */ 
 @media only screen and (max-width : 480px) {
   .informationIner {
        min-height: 0px;
    }
}

.socialLogin a {
    cursor: pointer;
}
