html {
    height: 100%;
}
body {
    height: 100%;
}

iframe {
    height: 100%; 
}


/*select.error, textarea.error, input.error, .bootstrap-select button.error {
	border:1px solid #ebccd1 !important;
	background-color:#f2dede;
}*/

label.error {
	color:#a94442;
}

h2{
	padding-bottom:20px;
}

.col-md-6 {
	padding: 5px;
}

.footer {
    
}
.logo {
	padding:10px;
}

.user_logged{
	color:white;
    float:right;
    margin-top:20px;
}

.user_logged span
{
    font-size: 18px;
}

.user_logged a{
	color:white !important;
	text-decoration:none;
	display:inline !important;
	padding:0 !important;
    font-size: 16px;
}

.mobilemenuimage{
	max-width:20px !important;
}
.desktopmenu {
	margin-top: 10px;
}
.desktopmenuitem {
	color: #585858;
	font-stretch: condensed;
	text-align: center;
	padding: 15px 0 ;
	background-color: #fff;
	border-bottom: 0;
	cursor: pointer;
}

.closeRightPanel, .closeRightPanel:hover, .closeRightPanel:active, .closeRightPanel:focus {
    color:#d9534f;
    font-size: 18px;
}

.mainMenuIner {
    border-bottom:1px solid #ddd;
}

.desktopmenuitem:hover {
	background-color: #dedede;
}
.desktopmenuitem.alwayson:hover  {
	background-color: #000000;
	color: #f5f5f5;
	
}
.activemenuitem {
	background-color: #f5f5f5;
	border-bottom: 0;
	color: #000000;
}

.activemenuitem> .desktopmenuimage {
	-webkit-filter: brightness(0.25);
	filter: brightness(0.25);
}


.desktopmenuitem > span {
	display: block;
    font-size: 24px;
    width: 24px;
    margin-left: auto;
    margin-right: auto;
}
.alwayson {background-color:#5d5d5d; color:whitesmoke;}
.alwayson .desktopmenuimage {
		-webkit-filter: brightness(1);
	filter: brightness(1);
}


.list-group-item.active {
	z-index: 0;
	color: #000;
	background-color: #ffffff;
	border: solid 1px #dedede;
	border-top: 1;
	border-left: 0;
}

.list-group-item.active:focus {}

.list-group-item.active:hover, .list-group-item.actual_problem {
	background-color: #dedede;
	border-color: #dedede;
	color: black;
}

.list-group-item:hover {
	background-color: #dedede;
	border-color: #dedede;
}
@media screen and (max-width: 768px) {
	.desktopmenuitem, .reportpagination {
		display: none;
	}
	.floatright {
		float: 0;
		padding-right: 20px;
	}
	.transportCanvasInner .transportimg{
		max-width:260px;
	}
}

@media (max-width:510px) and (min-width:140px), (max-width:1200px) and (min-width:990px) {
	.report-text {
		width:80%;
	}
}

.reportimage {
    margin-top:20px;
	width:20%;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    width: 19.1%;
}
	
.report-text {
	width:80%;
    padding-top: 0px;
}

.reportimage img {
    margin-left: 5px !important;
    border-radius: 0px;
}

.report-text .report-text-bottom{
	margin-top: 12px;
}

.report-text .report-text-bottom .label-primary {
	font-weight:500;
}

.right {
	margin: 0px;
	padding: 0px;
}

.left {
	background-color: #fff;
	border-top: 1px solid #dedede;
	padding-bottom: 20px;
}

<!-- start of report ticket --> 
.reportshort:hover {
	z-index: 2;
	background-color: #d0e1f1;
	border-color: #eaeaea;
}

.map-last-problem, .reportimage img {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
}

.reportpagination {
	margin:auto;
}

.last_problem{
	margin-bottom:15px;
}
.last_problem .last_problem_top{
	min-height:20px;
}

.mainreport .report-dep{
	 background-color: whitesmoke;
	 padding:5px;
}

.reportdatatext {
	line-height: 1.6;
	color: #777;
	margin-left: 10px;
	font-size: smaller;
}

.report-text .address{
	line-height: 1.8;
}

.regnumber {
	display: block;
	margin-right: 10px;
}

.time {
	margin-right: 10px;
}

li.list-group-item.reportshort.hover:hover {
	background-color: #c7c7c7;
	border: 1px solid #ddd;
}

.reportshort:hover {
	background-color: #f0f6f9;
	border: 1px solid #ddd;
}

.unregistered{
	color:red;
}

.googleiframe {
	/*margin: auto;*/
	margin-bottom:10px;
	display: block;
}

.row.maincontent {
    border-left: 1px solid #ddd;;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    min-height: 87vh;
}

.carousel {
	margin: auto;
	display: block;
}

.carousel .left{
	background-color: transparent ;
}

.carousel  .carousel-inner .item{
	height:350px;
}

.carousel-inner .item  img{
	margin: auto;
}

ul.list-group {
	margin-bottom: 0px;
	padding-left: 10px;
}

.row.body {
	background-color: #f5f5f5;
}

.full-height{
	height:100%;
}

ul.nav.nav-tabs {
	border-bottom: 0 !important;
}

.img-rounded {
	width:100%;
}

.img-answer {
	height:50px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #eaeaea;
    border: 1px solid #ddd;
	cursor: pointer;
}
.addcomment {
	margin-top: 15px;
}
a.pull-right {
    margin-top: 10px;
}

.col-md-12 .reportanswer {
    margin-top: 20px;
    /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.problemcategory{
	font-weight:bold;
}

.floatright {
    float: right;
    padding-right: 20px;
}

#map {
	width: 100%;
	height:1000px;
}

#map_new_problem {
	width: 100%;
	height:500px;
}

.map-new-problem {
	width: 100%;
	height:500px;
}

.map-last-problem {
	width: 100%;
	height:300px;
}

.map-div{
	padding:0 15px 30px 15px;
}

.no-image{
	width:100%;
}

#new_desc{
	height:200px;
}

.transportCanvas{
	margin-top:-30px;
    padding: 14% 0 0;
}

.transportCanvasInner{
	border:1 px solid red;
	width:80%;
    position: relative;
    z-index: 1;
    margin: 0 auto 100px;
    background-color:#f4f2f2; 
    box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.19);
	padding:15px;	
}

#stats_iframe{
	width:100%;
	height: 850px;
	margin-top:10px;
}

.thanks-div img{
	height:150px;
	padding:5px;
}

.icon_class{
	padding:0; 
	text-align:right;
}

.active .page-link{
	color:white !important;
}

.like-inactive, .like-inactive span{
	filter: opacity(0.6);
	cursor:auto;
}

.like-push{
    cursor: pointer;
    font-size: 1.8em;
    margin-left: 15px;
}

.select-inactive{
	filter: opacity(0.5);
}

.close-cross{
	padding-right:7px;
	width:100%;
}

.selectpicker{
	width:auto !important;
}

#editProblemDiv textarea{
	height:150px;
}

/* new problem tempalte style */
#cancel {
    margin-right: 5px;
}

.senderInformationIner > .actionButtons {
    padding-bottom:10px;
}

#new_desc, textarea {
    resize: vertical;
}

.problemTypeSelectIner > .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width:100%;
}

.showReporterInfo:hover {
    cursor: pointer;
    color: #286090;
}

.reporterInfoInerHide {
    display: none;
}

/* my problems template, all problems */
.actionButton > button {
    border:none;
}

.report-description {
    min-height: 60px;
	word-break:break-all;
}

#share {
    margin-right:15px;
}

.submitSearch, .submitSearch:hover, .submitSearch:visited, .submitSearch:focus {
    color:#fff;
}

.jssocials-share > a:hover {
    text-decoration: none;
}

a.disabled, a.disabled:hover {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

/* footer */
.footer .row {
    padding:10px;
}

.footer p {
    margin-bottom:0px;
}

.footer p.copyright {
    color:#fff;
    float:left;
}

.footer p.phone {
    color:#fff;
    float:right;
}

.footer .phoneNumber {
    margin-right:10px;
} 

.footer a {
    color:#fff;
}

/* other styles */
.dropdown-menu > li > a {
    white-space: normal;
}

.showingProblemIner {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; 
}

.activeCity a{
    font-weight:700 !important;
}

.anonymousIner {
    padding-right: 35px; 
}

.bx-wrapper .bx-controls-direction a {
    z-index:1 !important;
}

.registeringProblem {
    cursor: progress;
    display:none;
}

.needToLogin {
    cursor:pointer;
}

.citySelect {
    margin-top:14px;
    float:right;
    margin-right: 15px;
}

.citySelect p {
    color:#fff;
    float: left;
    display:inline-block;
    margin-top: 6px;
    font-size: 16px;
}

.dropdown {
    display:inline-block;
}

.dropdown .btn-link {
    color:#fff;
    /*margin-top:3px;*/
    text-decoration:none;
    font-size: 16px;
}

.dropdown .btn-link:hover {
    text-decoration:none;
}

.desktopmenuitem .fa {
    width: 15px;
    margin-right: auto;
    height: 15px;
    margin-top: 8px;
}

.reportdatatext span.fa {
    color:#000;
}

.fillFormHidden {
    margin-bottom:20px;
}

.fillFormHidden span {
    height:auto;
    width:auto;
    font-size:17px;
}

.showingProblemIner {
    overflow:hidden;
}

/* Slider */
.bx-wrapper {
    height: 310px;
    background-color: #ddd !important;
}

.bx-wrapper img {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.report-text-bottom > span.label {
   display: inline-block;
   min-width: 75px;
}

/* new navigation */
.mainMenuNavigation >  .navbar-toggle{
    margin-top: 14px;
    margin-right: 0px;
}

.navbar-default .navbar-toggle {
    border:none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navmenu-fixed-right {
   left: auto !important;
}

.navmenu, .navbar-offcanvas {
    width:237px !important;
}

.navmenu-default .navmenu-nav>li>a, .navbar-default .navbar-offcanvas .navmenu-nav>li>a, .navmenu-default .navmenu-brand, .navbar-default .navbar-offcanvas .navmenu-brand, .navmenu-default .navmenu-nav>li>a:hover, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover, .navmenu-default .navmenu-nav>li>a:focus, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:focus {
    color:#fff;
}

.navmenu-default, .navbar-default .navbar-offcanvas {
    border: none !important;
}

.userOptions {
    padding-top:5px;
}

.loginLink {
    cursor: pointer;
}

.jssocials-shares a.jssocials-share-link, .socialLogin > li > a > img, .bootstrap-select > button {
    border-radius:4px;
}

.span4 {
    margin-top:20px;
}

/* search */
.mainSearchIner {
    position:relative;
}

#search-clear
{
    position: absolute;
    right: 85px;
    z-index: 99;
    top: 10px;
    text-decoration:none;
    color: #b3b3b3;
}

.input-group-addon {
    background-color:#fff;
}

.searchButton, .filterButton {
    cursor: pointer;
}

.searchButton {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.filterButton {
    border-left:none;
    border-radius:0px !important;
}

.activeSearch, .activeSearch:active, 
.activeSearch:focus, .searchButton:hover, 
.filterButton:hover {
    color:#fff !important; 
}

#search-clear {
    display: none;
}

.detailedSearch .input-group, .detailedSearch .statuses, .detailedSearch .problemTypes {
    margin-bottom:10px;
}

.problemTypes {
    position:relative;
}

.detailedSearch, .report-dep, .bx-wrapper {
    border-radius:4px;
}

.list-group-item:first-child {
    border-top-right-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px; 
}

.statusesIner .statuses
{
    width: 70%;
}

.detailedSearch .blockTitle {
    display:block;
}

.activeSearchElementStatus, .activeSearchElementStatus:active, .activeSearchElementStatus:visited, .activeSearchElementStatus:focus, .activeSearchElementStatus:hover {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    outline: none;
}

.activeSearchElementType, .activeSearchElementType:active, .activeSearchElementType:visited, .activeSearchElementType:focus, .activeSearchElementType:hover {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    outline: none;
}

.selectButtons
{
    padding: 2px 8px;
}

#dateFrom, #dateTo, #keyWord
{
    height: 28px;
}

.problemTypeIner, .statusesIner, .dateIner {
    padding-left:0px !important;
}

.btn-default.active, .btn-default:active {
    background-color: #fff !important;
    outline: none;
}

.detailedSearchIner {
    display:none;
}

.detailActionButtons
{
    padding: 6px 8.7px;
}

.activeFilter {
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.countProblems {
    display: none;
    position:absolute;
    border-radius: 50px;
    background-color: #B5232C;
    color: #fff;
    font-size: 11px;
    right: -4px;
    top: -10px;
    text-align:center;
    padding: 1.5px 3px;
    min-width: 18px;
    outline: none;
}

.activeSearchElementType .countProblems {
    display: block;
}

.detailActionButtonsIner {
    margin-top:10px;
}

.detailedSearchInerMobile {
    display:none !important;
}

.reportAsnwerIner, .reportfulltext  {
    text-align: justify;
}

/* pagination */
.pagination li a {
	color: #969696;
}

.paginationInner {
    float:right;
    margin-right: 15px;
}

.detailedSearch {
    background-color: #fff;
    padding: 20px;
    margin-bottom:10px;
    border:1px solid #ddd;
    margin-right: 20px;
    margin-left: 20px;
    overflow:hidden;
}

/* map */
.problemDate, .problemAddress, .mapProblemTop {
    clear: both;
}

.mapProblemTop {
    margin-bottom:10px;
}

.completeDate {
    font-weight:300;
}

.problemInformationMap
{
    width: 350px;
    height: auto;
    border-left: 1px solid #e7e7e7;
    background-color:#fff;
    user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;

}

.problemInformationMap {
    padding:15px;
}

.labelMapProblem {
    margin-bottom:0px;
}

.mapProblemIner {
    text-align:justify;
}

.mapProblemText
{
    /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.modal-header, .modal-footer{
	border:0;
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .senderInformationIner {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .senderInformationIner {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    
}
/* Extra Small Devices, Phones */ 
 @media only screen and (max-width : 480px) {   
    .contactInfoText {
        display:none;
    }
     
     .footer a:hover {
         text-decoration:none !important;
     }
     
     .citySelect p, .dropdown .btn-link {
         font-size:18px;
     }
     
     .citySelect p {
         margin-right:-2px;
     }
     
     .user_logged {
         display:none;
     }
     
     .report-description {
         min-height: 0px !important;
     }
     
     #stats_iframe { 
         height: 300px;
     }
     
     .statusesIner .statuses {
         width:100%;
     }
     
     .statusesIner, .problemTypeIner, .dateIner
     {
         padding-left: 15px !important;
     }
     
     .selectButtons {
         display:block;
         width:100%;
     }
     
     .detailActionButtons {
         width:100%;
     }
     
     #detailSearchButton {
         margin-bottom:10px;
     }
}
.loadingImage{
  margin-left: auto;
  margin-right: auto;
}
.loadingHead{
	padding-bottom: 20px;
  	color:#fff;
  	font-size: x-large;
  	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.registerProblem{
  text-align: center;
  margin-top: 15%;
}

.citySelect .dropdown{
	margin-top: 6px;
}

.citySelect .dropdown #dropdownMenu1{
	border-top: 0px;
	padding-top: 0px;
}

.form-control {
    font-size: 16px !important;
}

.problemTypeSelectIner .btn {
    font-size: 16px;
}

.follow, .follow:active, .follow:focus, .follow:visited {
    color: #dd4b39;
    text-decoration: none;
}

.subscribed:hover {
    cursor: pointer;
}

.follow:hover {
    cursor: pointer;
    color: #b5232c;
}

.follow, .subscribed {
    margin-left: 10px;
    vertical-align: top;
    line-height: 2.2em;
}

.subscribed {
    color: #949392;
}

.follow.disabled, .subscribed.disabled {
    cursor: not-allowed;
    opacity: 1;
    color: #949392;
}

.like-count {
    margin-left: 5px;
    vertical-align: top;
    display: inline-block;
    line-height: 2.2em;
}

.dislike-count {
    margin-left: 5px;
    vertical-align: top;
    display: inline-block;
    line-height: 2.2em;
}